# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Pong1.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\June\Documents\CSUMB\CST326 - Game Dev\Pong1\.idea\.idea.Pong1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
